* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.89;
}
.header-offer {
    background-color: #808d8a;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px; 
}
.logo {
    text-align: center;
    margin: 50px 0;
}
.menu {
    border-top: 1px solid #5F5F5D;
    border-bottom: 1px solid #5F5F5D;
    padding-top: 15px;
    padding-bottom: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    left: 33%;
}
li {
    float: left;
}
li a {
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-weight: 700;
    color: #003047;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#product .container {
    width: 1200px;
    margin: auto;
}
#product .row {
    margin-top: 60px;
}
#product .col {
    width: 275px;
    float: left;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 25px;
}
.product-title {
    font-family: "ITC Franklin Gothic W01",Helvetica,Arial,sans-serif;
    color: #000000;
}

.picture{
    height:auto;
    width: 100%;
    margin-top: 60px;
  }
  .coba{
    height: auto;
    width: 500px;
    width: 275px;
    float: left;
    padding-right: 25px;
    margin-left: 80px; 
  }
  
  .coba2{
     height: auto;
    width: 8%;
    float: left;
    padding-left: 5px;
  }

    

  
  
  .judul{
    font-family: "ITC Franklin Gothic W01",Helvetica,Arial,sans-serif;
     margin-top: 50px;
    padding-left: 600px;
    text-align: center;
  
  
  }
  
  h4{
      font-family: "ITC Franklin Gothic W01",Helvetica,Arial,sans-serif;
    letter-spacing: .2em;
      text-transform: uppercase;
      font-weight: 400;
    
  }
